<div class="wrapper">
  <h1>DogoGram 📷</h1>
  <div class="list">
    <mat-form-field class="form" appearance="fill">
      <mat-label class="form-label">Select your dogo</mat-label>
      <mat-select [(ngModel)]="selected" (ngModelChange)="onSelected()">
        <mat-option *ngFor="let item of myData?.message | keyvalue" value="{{item.key}}">{{item.key}}</mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <div class="info" *ngIf="selected">
    <img src="{{dogoImg?.message}}" alt="{{selected}}">
    <h2>WOW jaki piękny piesek 😍</h2>
    <h3>Poczytaj więcej o tej rasie na wikipedi
      <a href="https://en.wikipedia.org/wiki/{{selected}}">{{selected}}</a>
    </h3>
  </div>
</div>